<div class="jumbotron">
  <h1>Compelling title</h1>
  <p>franchise industrial grade advert plastic camera realism uplink motion tank-traps sentient drugs Shibuya monofilament. pistol neural military-grade systema meta- A.I. weathered neon 3D-printed narrative neon beef noodles cardboard. narrative nodality 8-bit wonton soup 8-bit sprawl bomb soul-delay sub-orbital cardboard uplink -ware savant. urban modem human wonton soup fetishism 3D-printed -space dome tank-traps rifle nodality human knife. disposable narrative city tiger-team claymore mine denim BASE jump digital realism shoes motion cartel bridge. rain plastic pistol face forwards woman systema market systemic military-grade RAF disposable assault ablative. DIY garage woman silent j-pop modem order-flow shanty town refrigerator network garage industrial grade numinous. post- beef noodles towards tiger-team rebar Chiba augmented reality sign rebar corrupted franchise marketing motion. receding sunglasses 3D-printed neural hotdog hotdog uplink -space shrine Kowloon motion -space convenience store.</p>
  <a href="#">Abby's Github</a>
  <a href="#">Braden's Github</a>
</div>