<div class="jumbotron">
  <h1>Welcome to GuestByte!</h1>
  <p>This is a real-time event management and interaction system. Invite guests to comment, create, and interact! When the party's over, review their most memorable blurbs, and follow up with your guests with our email helper.</p>
  <%= link_to 'Get started!', new_user_registration_path %>
</div>



