.responses {
  overflow-y: auto;
  height: 200px;
}

.comment-form {
  position: absolute;
  bottom: 0;
}

.comment-time {
  color: gray;
}

.indent {
  margin-left: 10px;
}

.prompt {
  margin: 5px;
  padding: 5px;
  border: 1px solid #eeeeee;
  height: 350px;
  position: relative;
}

.col-6 {
 padding-top: 15px;
 padding-bottom: 15px;
}

.col-sm-6 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.col-lg-4 {
  padding-top: 15px;
  padding-bottom: 15px; 
}

body {
  word-wrap: break-word;
}

home-description {
  overflow-y: auto;
  height: 150px;
}