body {
  background-image: url('../assets/grid.png');
}

.responses {
  overflow-y: auto;
  height: 200px;
}

a {
  color: #3489BF;
}

.comment-form {
  position: absolute;
  bottom: 0;
}

.comment-time {
  color: gray;
}

.event-button {
  position: absolute;
  bottom: 5px;
}

.indent {
  margin-left: 10px;
}

.prompt {
  margin: 5px;
  padding: 5px;
  border: 1px solid #eeeeee;
  height: 350px;
  position: relative;
}

.camera {
  margin-top: 20px;
}

.col-6 {
 padding-top: 15px;
 padding-bottom: 15px;
}

.col-sm-6 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.col-lg-4 {
  padding-top: 15px;
  padding-bottom: 15px; 
}

.sidebar-nav {
  background-color: #ffffff;
}

embed {
  background-color: #f5f5f5;
}

body {
  word-wrap: break-word;
}

home-description {
  overflow-y: auto;
  height: 150px;
}